.header{
  position: relative;
  &__bg{
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -2;
  }
  &::before{
	content: '';
	background: linear-gradient(180deg, rgba(22, 21, 22, 0.9) -7.87%, rgba(22, 21, 22, 0.6) 100%) top / contain;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
  }
  &__row{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
  }
}

h1{
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 500;
  font-size: 120px;
  line-height: 90px;

  text-align: center;

  color: #FFFFFF;
}

p{
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 90px;
  /* or 281% */


  text-transform: uppercase;

  color: #FFFFFF;
}