@mixin font($fontFamily, $fontStyle, $fontWeight, $fontSize, $lineHeight, $color) {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}