$color-white: #fff;
$button-color: #33B7BC;
$button-primary-hover-color: #2EACB0;
$button-primary-box-shadow: #245C5F;

$input-color: #1C1C1C;
$input-color-gradient: rgba(27, 27, 27, 0.4);
$input-color-hover: #1B1B1B;
$input-text-color: #707070;