@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
